<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration> 
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Acc_WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>


  <!--如果是1則回填至GBC-->
  <appSettings>
    <add key="isFillToGBC" value="0" />
  </appSettings>
  
  <connectionStrings>
    <add name="SqlDbConnStr" connectionString="Server=localhost\sql2008r2;DataBase=NPSF;UID=sa;PWD=3363" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>

  <!--預控WebService網址-->
  <applicationSettings>
    <Acc_WebService.Properties.Settings>
      <setting name="Acc_WebService_GBC_WebService_GBCWebService" serializeAs="String">
        <value>http://localhost/GBCWebService/GBCWebService.asmx</value>
      </setting>
      <setting name="Acc_WebService_DVGBC_WebService_GBCWebService"
        serializeAs="String">
        <value>http://localhost/DVGBCWebService/GBCWebService.asmx</value>
      </setting>
      <setting name="Acc_WebService_BAGBC_WebService_GBCWebService"
        serializeAs="String">
        <value>http://localhost/BAGBCWebService/GBCWebService.asmx</value>
      </setting>
      <setting name="Acc_WebService_LCGBC_WebService_GBCWebService"
        serializeAs="String">
        <value>http://localhost/LCGBCWebService/GBCwebService.asmx</value>
      </setting>
    </Acc_WebService.Properties.Settings>
  </applicationSettings>
  
</configuration>

